﻿
@{
    ViewData["Title"] = "JSclientSample";
}

<h2>Table Restaurant</h2>


<table id="myTable" class="table table-striped">
</table>

<button type="button" id="btnRefresh" class="btn btn-default">Get Data</button>

@section Scripts{ 
    <script>
        $(document).ready(function () {

            $("#btnRefresh").click(function () {
                GetData2();
            });


            function InsertRow(data) {
                var newRow = "";
                newRow += "<tr>";
                newRow += "<td>" + data.RestaurantID + "</td>";
                newRow += "<td>" + data.RestaurantName + "</td>";
                newRow += "</tr>";
                return newRow;
            }

            function GetData2() {
                $("#myTable tr").remove();
                $("#myTable").append("<tr><th>Restaurant ID</th><th>Restaurant Name</th></tr>");


                var url = "http://localhost:55536/api/Restaurant";
                $.ajax({
                    type: "GET",
                    url: url,
                    datatype: "json",
                    success: function (data) {
                        var newRow = "";
                        $.each(data, function (key, value) {
                            newRow += InsertRow(value);
                        });
                        $("#myTable").append(newRow);
                    },
                    error: function (error) {
                        alert("Error : " + error);
                    }
                });


            }
        });

    </script>
}

