﻿<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
    <a class="nav-link" asp-controller="Home" asp-action="Index">
        <i class="fa fa-fw fa-dashboard"></i>
        <span class="nav-link-text">Home</span>
    </a>
</li>
<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
    <a class="nav-link" asp-controller="Home" asp-action="About">
        <i class="fa fa-fw fa-area-chart"></i>
        <span class="nav-link-text">About</span>
    </a>
</li>
<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
    <a class="nav-link" asp-controller="Home" asp-action="Contact">
        <i class="fa fa-fw fa-table"></i>
        <span class="nav-link-text">Contact</span>
    </a>
</li>
