﻿<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
        <i class="fa fa-fw fa-wrench"></i>
        <span class="nav-link-text">Components</span>
    </a>
    <ul class="sidenav-second-level collapse" id="collapseComponents">
        <li>
            <a href="navbar.html">Navbar</a>
        </li>
        <li>
            <a href="cards.html">Cards</a>
        </li>
    </ul>
</li>
<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages" data-parent="#exampleAccordion">
        <i class="fa fa-fw fa-file"></i>
        <span class="nav-link-text">Example Pages</span>
    </a>
    <ul class="sidenav-second-level collapse" id="collapseExamplePages">
        <li>
            <a href="login.html">Login Page</a>
        </li>
        <li>
            <a href="register.html">Registration Page</a>
        </li>
        <li>
            <a href="forgot-password.html">Forgot Password Page</a>
        </li>
        <li>
            <a href="blank.html">Blank Page</a>
        </li>
    </ul>
</li>