@using Microsoft.AspNetCore.Identity
@using SampleASPCoreMVC.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li class="nav-item">
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
            <button type="submit" class="btn btn-primary"><i class="fa fa-fw fa-sign-out"></i>Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a asp-area="" class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
        <a asp-area="" class="nav-link" asp-controller="Account" asp-action="Login">Log in</a>
    </li>
}


