﻿@using Microsoft.AspNetCore.Identity
@using SampleASPCoreMVC.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject RoleManager<IdentityRole> RoleManager


<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
   
    @await Html.PartialAsync("_LayoutMenuAnonymous")
    
    @if (User.IsInRole("member"))
    {
        @await Html.PartialAsync("_LayoutMenuMember")
    }
    else if (User.IsInRole("admin"))
    {
        @await Html.PartialAsync("_LayoutMenuMember")
        @await Html.PartialAsync("_LayoutMenuAdmin")
    }
</ul>


    
    
    
