﻿@{
    ViewData["Title"] = "About";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a asp-action="Index">Home</a>
    </li>
    <li class="breadcrumb-item active">About Page</li>
</ol>
<div class="row">
    <div class="col-12">
        <h1>@ViewData["Title"]</h1>
        <p>@ViewData["Message"]</p>
    </div>
</div>
