﻿@{
    ViewData["Title"] = "Home Page";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a asp-action="Index">Home</a>
    </li>
    <li class="breadcrumb-item active">Home Page</li>
</ol>
<div class="row">
    <div class="col-12">
        <h1>@ViewData["Title"]</h1>
        <p>Selamat Datang @ViewBag.Username</p>
    </div>
</div>
