﻿@model IEnumerable<SampleASPCoreMVC.Models.Restaurant>

@{
    ViewData["Title"] = "Daftar Restaurant";
}

<h2>Daftar Restaurant</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form class="form-inline" asp-action="Search" method="post">
    <div class="form-group">
        <label for="search">Masukan Nama:&nbsp;</label>
        <input type="text" class="form-control" name="search">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form><br />
<form asp-action="SaveChecked" method="post">
    <table class="table">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>
                    @Html.DisplayNameFor(model => model.RestaurantID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category.CategoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RestaurantName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsPublic)
                </th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="~/myimages/@item.Photo" width="150" alt="photo" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RestaurantID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RestaurantName)
                    </td>
                    <td>
                        <input type="checkbox" name="myCheckbox" checked="@item.IsPublic"
                               value="@item.RestaurantID" />
                    </td>
                    @if (User.IsInRole("admin"))
                    {
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.RestaurantID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.RestaurantID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.RestaurantID">Delete</a>
                        </td>
                    }

                </tr>
            }
        </tbody>
    </table>
    <br />
    <button type="submit" value="Save" class="btn btn-default">Save</button>
</form>